<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="managedFusion.rewriter" type="ManagedFusion.Rewriter.Configuration.ManagedFusionRewriterSectionGroup"/>
	</configSections>
	<managedFusion.rewriter xmlns="http://managedfusion.com/xsd/managedFusion/rewriter">
		<rules engine="Apache"/>
		<rewriter>
			<proxy useAsyncProxy="true" proxyType="ManagedFusion.Rewriter.ProxyHandler, ManagedFusion.Rewriter" proxyAsyncType="ManagedFusion.Rewriter.ProxyAsyncHandler, ManagedFusion.Rewriter"/>
		</rewriter>
	</managedFusion.rewriter>
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.0" />
		<!--<authentication mode="Forms">
			<forms loginUrl="authentication/login" requireSSL="true" name=".ASPXFORMSAUTH"/>
		</authentication>-->
        <httpCookies requireSSL="true" />
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" >
			<add name="RewriterModule" type="ManagedFusion.Rewriter.RewriterModule, ManagedFusion.Rewriter"/>
		</modules>
		<handlers>
			<remove name="StaticFile" />
			<remove name="MvcHttpHandler" />
			<add name="RewriterProxyHandler" preCondition="integratedMode" verb="*" path="RewriterProxy.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="Either" requireAccess="Read" />
		</handlers>
		<rewrite>
			<rewriteMaps>
				<rewriteMap name="/content">
					<add key="/content/*" value="http://" />
				</rewriteMap>
			</rewriteMaps>
		</rewrite> 
	</system.webServer>
</configuration> 
